%login-field {
  margin: 5% 9%;

  input {
    margin: 2%;
  }
}

%login-button {
  border: 2px solid lighten($thinkful-blue, 20);
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 2% auto;
  min-width: 50%;
  overflow: hidden;
  padding: 1% 2%;
  position: relative;

  a {
    color: white;
  }

  p {
    margin: 0;
    margin-left: 30%;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    transition: 371.292ms 0ms;

  }

  i {
    font-size: 1.2em;
    margin-top: 4px;
    transition: 449.735ms 0ms;
  }

  &:hover {
    i {
      padding-right: 75%;
    }

    p {
      opacity: 1;
      top: 30%;
    }
  }
}

.login-block {
  @extend %login-field;
}
